#capture {
    width: 100%;
}
.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
#canvas {
    width: 50%;
}
#result {
    width: 100%;
    margin-top: 10px;
}
#data_save{
    width: 100%;
}